VITE_APP_ENV=dev
VITE_API_URL=http://localhost:3000/
VITE_API_ACCESS_TOKEN=
VITE_API_TIMEOUT=10000
VITE_API_RETRY_COUNT=3

# Mapbox
VITE_MAPBOX_ACCESS_TOKEN=
VITE_MAPBOX_STYLE_URL=
VITE_MAPBOX_LIGHT_STYLE_URL=
VITE_MAPBOX_DARK_STYLE_URL=
VITE_MAPBOX_LAT_DEFAULT=
VITE_MAPBOX_LNG_DEFAULT=

# Variable disponible en la capa de servicios, mantener si tu entorno la requiere
VITE_MAPBOX_KEY=
